body{
  background-color: aquamarine;
}

#forms{
    margin: 50px 50px;
    background: rgb(192, 192, 192);
    padding: 50px 50px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
